
/* The style for the Homepage/About goes here */
body{
  overflow-x: hidden;
}
:root {
  --main-text-color:#ff7ab4;
}

h1 {
  color: var(--main-text-color);
  font-family: 'Lobster Two', cursive;

}
.headernav {
  font-family: 'Lobster Two', cursive;
}
.nav-div{
  display: flex;

}
.nav-link a {
  font-family: 'Lobster Two', cursive;
  text-decoration: none;
  line-height: 50px;
  color: #000000;

}
.navlink a:hover {
  color: var(--main-text-color);
  text-decoration: underline;
  cursor: pointer;
}
.aboutpic {
  display: flex;
  width: 500px;
  height: 500px;
  border-radius: 100%;

}
.landingpage{
  display: inline-flex;
  align-items: center;
  min-height: 100vh;
  padding: 10px;

}
.introwrap {
  padding: 20px;
  
}
ul li {
  list-style-type: circle ;

}
form {
  text-align: center;
}
#Contact {
  text-align: center;
}
.header{
  text-align: center;
}
/* Styling for the footer starts here */
footer {
  text-align: center;
  background-color: var(--main-text-color);

}
.footer-nav-div{
  display: inline-flex;
}

footer img{
  transform: scale(0.7);
}
/* The style for the Contact */
label {
  color: var(--main-text-color);

}
input {
  border-radius: 15px;
  border: 1px solid #000000;
}
textarea{
  border-radius: 15px;
}
input[type=submit] {
  background-color: var(--main-text-color);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 4px 2px;
  cursor: pointer;
}
